body {
  width: 100%;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
.article-date,
.article-category-link,
.archive-year {
  text-decoration: none;
  color: #999;
  margin-bottom: 1em;
  line-height: 1em;
  font-weight: bold;
}
.article-inner {
  background: #fff;
  border-bottom: 1px solid #ddd;
}
.article-entry h1 {
  font-size: 2em;
}
.article-entry h2 {
  font-size: 1.5em;
}
.article-entry h3 {
  font-size: 1.3em;
}
.article-entry h4 {
  font-size: 1.2em;
}
.article-entry h5 {
  font-size: 1em;
}
.article-entry h6 {
  font-size: 1em;
  color: #999;
}
.article-entry hr {
  border: 0.5px solid #ddd;
}
.article-entry strong {
  font-weight: bold;
}
.article-entry em,
.article-entry cite {
  font-style: italic;
}
.article-entry sup,
.article-entry sub {
  font-size: 0.75em;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
.article-entry sup {
  top: -0.5em;
}
.article-entry sub {
  bottom: -0.2em;
}
.article-entry small {
  font-size: 0.85em;
}
.article-entry acronym,
.article-entry abbr {
  border-bottom: 1px dotted;
}
.article-entry ul,
.article-entry ol,
.article-entry dl {
  margin: 0 30px;
  line-height: 1.6em;
}
.article-entry ul ul,
.article-entry ol ul,
.article-entry ul ol,
.article-entry ol ol {
  margin-top: 0;
  margin-bottom: 0;
}
.article-entry ul {
  list-style: disc;
}
.article-entry ol {
  list-style: decimal;
}
.article-entry dt {
  font-weight: bold;
}
@media screen {
  #content,
  .outer {
    width: 44em;
  }
}
@media screen and (max-width: 810px) {
  #content,
  .outer {
    width: 43em;
  }
}
@media screen and (max-width: 790px) {
  #content,
  .outer {
    width: 42em;
  }
}
@media screen and (max-width: 770px) {
  #content,
  .outer {
    width: 41em;
  }
}
@media screen and (max-width: 750px) {
  #content,
  .outer {
    width: 40em;
  }
}
@media screen and (max-width: 730px) {
  #content,
  .outer {
    width: 39em;
  }
}
@media screen and (max-width: 710px) {
  #content,
  .outer {
    width: 38em;
  }
}
@media screen and (max-width: 690px) {
  #content,
  .outer {
    width: 37em;
  }
}
@media screen and (max-width: 670px) {
  #content,
  .outer {
    width: 36em;
  }
}
@media screen and (max-width: 650px) {
  #content,
  .outer {
    width: 35em;
  }
}
@media screen and (max-width: 630px) {
  #content,
  .outer {
    width: 34em;
  }
}
@media screen and (max-width: 610px) {
  #content,
  .outer {
    width: 33em;
  }
}
@media screen and (max-width: 590px) {
  #content,
  .outer {
    width: 32em;
  }
}
@media screen and (max-width: 570px) {
  #content,
  .outer {
    width: 31em;
  }
}
@media screen and (max-width: 550px) {
  #content,
  .outer {
    width: 30em;
  }
}
@media screen and (max-width: 530px) {
  #content,
  .outer {
    width: 29em;
  }
}
@media screen and (max-width: 510px) {
  #content,
  .outer {
    width: 28em;
  }
}
@media screen and (max-width: 490px) {
  #content,
  .outer {
    width: 27em;
  }
}
@media screen and (max-width: 470px) {
  #content,
  .outer {
    width: 26em;
  }
}
@media screen and (max-width: 454px) {
  #content,
  .outer {
    width: 25em;
  }
}
@media screen and (max-width: 438px) {
  #content,
  .outer {
    width: 24em;
  }
}
@media screen and (max-width: 422px) {
  #content,
  .outer {
    width: 23em;
  }
}
@media screen and (max-width: 406px) {
  #content,
  .outer {
    width: 22em;
  }
}
@media screen and (max-width: 390px) {
  #content,
  .outer {
    width: 21em;
  }
}
@media screen and (max-width: 374px) {
  #content,
  .outer {
    width: 20em;
  }
}
@media screen and (max-width: 358px) {
  #content,
  .outer {
    width: 19em;
  }
}
@media screen and (max-width: 342px) {
  #content,
  .outer {
    width: 18em;
  }
}
@media screen and (max-width: 326px) {
  #content,
  .outer {
    width: 17em;
  }
}
@media screen and (max-width: 310px) {
  #content,
  .outer {
    width: 16em;
  }
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
input,
button {
  margin: 0;
  padding: 0;
}
input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
@font-face {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  src: url("fonts/fontawesome-webfont.eot?v=4.7.0");
  src: url("fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"), url("fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"), url("fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"), url("fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"), url("fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
}
@font-face {
  font-family: LM-Mono-10;
  font-style: normal;
  font-weight: normal;
  src: url("fonts/lmmono10-regular.ttf");
}
@font-face {
  font-family: LM-Mono-10;
  font-style: italic;
  font-weight: normal;
  src: url("fonts/lmmono10-italic.ttf");
}
@font-face {
  font-family: LM-Roman-10;
  font-style: normal;
  font-weight: normal;
  src: url("fonts/lmroman10-regular.ttf");
}
@font-face {
  font-family: LM-Roman-10;
  font-style: italic;
  font-weight: normal;
  src: url("fonts/lmroman10-italic.ttf");
}
@font-face {
  font-family: LM-Roman-10;
  font-style: normal;
  font-weight: bold;
  src: url("fonts/lmroman10-bold.ttf");
}
@font-face {
  font-family: LM-Roman-10;
  font-style: italic;
  font-weight: bold;
  src: url("fonts/lmroman10-bolditalic.ttf");
}
@font-face {
  font-family: Chinese;
  font-style: normal;
  font-weight: normal;
  src: url("fonts/HYShuSongErS.ttf");
}
@font-face {
  font-family: Chinese;
  font-style: normal;
  font-weight: bold;
  src: url("fonts/FZHTJW.ttf");
}
@font-face {
  font-family: Chinese;
  font-style: italic;
  font-weight: normal;
  src: url("fonts/FZKTJW.ttf");
}
@font-face {
  font-family: ChineseMono;
  font-style: normal;
  font-weight: normal;
  src: url("fonts/HYFangSongJ.ttf");
}
@font-face {
  font-family: biaodian;
  font-style: normal;
  font-weight: normal;
  src: url("fonts/biaodian.ttf");
}
@font-face {
  font-family: biaodian;
  font-style: italic;
  font-weight: normal;
  src: url("fonts/biaodian.ttf");
}
@font-face {
  font-family: biaodian;
  font-style: normal;
  font-weight: bold;
  src: url("fonts/biaodian.ttf");
}
@font-face {
  font-family: biaodian;
  font-style: italic;
  font-weight: bold;
  src: url("fonts/biaodian.ttf");
}
html {
  scroll-padding-top: 80px;
}
html,
body,
#container {
  height: 100%;
}
body {
  background: #fff;
  font: 16px "biaodian", "LM-Roman-10", "Chinese", serif, sans-serif;
  -webkit-text-size-adjust: 100%;
}
#content {
  margin: 0 auto;
}
.outer {
  margin: 0 auto;
}
.outer:before,
.outer:after {
  content: "";
  display: table;
}
.outer:after {
  clear: both;
}
.inner {
  display: inline;
  float: left;
  width: 94.44444444444444%;
  margin: 0 2.777777777777778%;
}
.left,
.alignleft {
  float: left;
}
.right,
.alignright {
  float: right;
}
.clear {
  clear: both;
}
#container {
  position: relative;
}
.mobile-nav-on {
  overflow: hidden;
}
#wrap {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  z-index: 1;
  background: #fff;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.mobile-nav-on #wrap {
  left: 50%;
}
#main-404 {
  font-size: 40px;
  font-weight: bold;
  font-family: "biaodian", "LM-Roman-10", "Chinese", serif;
  text-align: center;
  margin: 100px 0;
}
a {
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  transition: 0.2s;
}
#header {
  height: 250px;
  position: relative;
}
#header-outer {
  height: 100%;
  position: relative;
}
#header-inner {
  position: relative;
  overflow: hidden;
}
#banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  background-size: cover;
  z-index: -1;
}
#header-title {
  text-align: center;
  margin: 150px auto 60px;
  left: 0;
}
#logo,
#subtitle {
  text-decoration: none;
  color: #000;
  font-weight: 300;
}
#logo {
  font-size: 40px;
  line-height: 40px;
}
#subtitle {
  font-size: 18px;
  line-height: 18px;
}
#subtitle-wrap {
  margin: 36px 20px 0;
}
#nav-outer {
  position: fixed;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  background: #fff;
  z-index: 2;
  border-bottom: 1px solid #ddd;
}
#nav-outer :first-child {
  padding-left: 0;
}
#nav-outer :nth-child(2) {
  padding-left: 0;
}
#nav-outer :last-child {
  padding-right: 0;
}
@supports (backdrop-filter: saturate(180%) blur(20px)) {
  #nav-outer {
    background: rgba(255,255,255,0.732);
    backdrop-filter: saturate(180%) blur(20px);
  }
}
@supports (-webkit-backdrop-filter: saturate(180%) blur(20px)) {
  #nav-outer {
    background: rgba(255,255,255,0.732);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
  }
}
#main-nav {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.nav-icon,
.main-nav-link {
  float: left;
  color: #000;
  opacity: 0.6;
  text-decoration: none;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  transition: opacity 0.2s;
  display: block;
  padding: 20px 15px;
}
.nav-icon:hover,
.main-nav-link:hover {
  opacity: 1;
}
.nav-icon {
  font-family: FontAwesome;
  text-align: center;
  font-size: 16px;
  width: 16px;
  height: 16px;
  padding: 20px 15px;
  position: relative;
  cursor: pointer;
}
.main-nav-link {
  font-size: 18px;
}
@media screen and (max-width: 470px) {
  .main-nav-link {
    display: none;
  }
}
.main-nav-space-between {
  height: 1px;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
}
#main-nav-toggle {
  display: none;
}
#main-nav-toggle:before {
  content: "\f0c9";
}
@media screen and (max-width: 470px) {
  #main-nav-toggle {
    display: block;
  }
}
#sub-nav {
  float: right;
  margin-right: -15px;
}
#nav-rss-link:before {
  content: "\f09e";
}
#nav-search-btn:before {
  content: "\f002";
}
#search-form-wrap {
  position: absolute;
  top: 15px;
  width: 150px;
  height: 30px;
  right: -150px;
  opacity: 0;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}
#search-form-wrap.on {
  opacity: 1;
  right: 0;
}
@media screen and (max-width: 470px) {
  #search-form-wrap {
    width: 100%;
    right: -100%;
  }
}
.search-form {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  padding: 5px 15px;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.3);
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.search-form-input {
  border: none;
  background: none;
  color: #222;
  width: 100%;
  font: 13px font-sans;
  outline: none;
}
.search-form-input::-webkit-search-results-decoration,
.search-form-input::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
.search-form-submit {
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -7px;
  font: 13px FontAwesome;
  border: none;
  background: none;
  color: #bbb;
  cursor: pointer;
}
.search-form-submit:hover,
.search-form-submit:focus {
  color: #777;
}
.article {
  margin: 50px 0;
}
.article-inner {
  overflow: hidden;
}
.article-meta:before,
.article-meta:after {
  content: "";
  display: table;
}
.article-meta:after {
  clear: both;
}
.article-date {
  float: left;
}
.article-date:after {
  content: "\00a0";
}
.article-category {
  float: left;
  line-height: 1em;
  color: #ccc;
  text-shadow: 0 1px #fff;
  margin-left: 15px;
}
.article-category:before {
  content: "\2022";
  font-family: serif;
}
.article-category-link {
  margin: 0 12px 8px;
}
.article-header {
  padding: 15px 0;
}
.article-title {
  text-decoration: none;
  font-size: 2em;
  font-weight: bold;
  color: #222;
  line-height: 1.1em;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -ms-transition: color 0.2s;
  transition: color 0.2s;
}
a.article-title:hover {
  color: #999;
}
.article-entry {
  text-align: justify;
  color: #222;
}
.article-entry:before,
.article-entry:after {
  content: "";
  display: table;
}
.article-entry:after {
  clear: both;
}
.article-entry .markdown-them-math-inline:before,
.article-entry .markdown-them-math-inline:after {
  content: " ";
}
.article-entry p,
.article-entry table {
  line-height: 1.6em;
  margin: 0.8em 0;
}
.article-entry h1,
.article-entry h2,
.article-entry h3,
.article-entry h4,
.article-entry h5,
.article-entry h6 {
  font-weight: bold;
  line-height: 1.1em;
  margin: 1.65em 0 1.1em;
}
.article-entry a {
  color: #999;
  text-decoration: none;
}
.article-entry a:hover {
  text-decoration: underline;
}
.article-entry ul,
.article-entry ol,
.article-entry dl {
  margin-top: 0.8em;
  margin-bottom: 0.8em;
  margin-left: 2em;
  margin-right: 2em;
}
.article-entry img,
.article-entry video {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}
.article-entry iframe {
  border: none;
}
.article-entry table {
  border-top: 1.5px solid #000;
  border-bottom: 1.5px solid #000;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
.article-entry th {
  font-weight: bold;
  border-bottom: 1px solid #000;
  padding: 0.5em 0;
}
.article-entry td {
  border-bottom: none;
  padding: 10px;
}
.article-entry th,
.article-entry td {
  text-align: center;
}
.article-entry blockquote {
  font-family: "biaodian", "LM-Roman-10", "Chinese", serif;
  margin: 1.6em 0;
  padding: 0px 2em;
}
.article-entry blockquote strong {
  font-style: normal;
}
.article-entry blockquote footer {
  font-size: 16px;
  font-family: font-sans;
  margin: 0.8em 0;
}
.article-entry blockquote footer cite:before {
  content: "—";
  padding: 0 0.5em;
}
.article-entry .pullquote {
  text-align: left;
  width: 45%;
  margin: 0;
}
.article-entry .pullquote.left {
  margin-left: 0.5em;
  margin-right: 1em;
}
.article-entry .pullquote.right {
  margin-right: 0.5em;
  margin-left: 1em;
}
.article-entry .caption {
  color: #999;
  display: block;
  font-size: 0.9em;
  margin-top: 0.5em;
  position: relative;
  text-align: center;
}
.article-entry .video-container {
  position: relative;
  padding-top: 56.25%;
  height: 0;
  overflow: hidden;
}
.article-entry .video-container iframe,
.article-entry .video-container object,
.article-entry .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 0;
}
.article-entry ul li input {
  margin-right: 10px;
}
.article-entry mjx-container {
  overflow: auto;
  overflow-y: hidden;
  outline: 0;
}
.article-entry code {
  word-break: break-all;
}
.article-entry .katex,
.article-entry .mjx-chtml,
.article-entry .MathJax {
  font-size: 1em !important;
}
.article-entry .highlight {
  position: relative;
}
.article-entry .highlight:hover .copy-button {
  opacity: 1;
}
.article-entry .copy-button {
  position: absolute;
  right: 15px;
  top: 15px;
  background: #fff;
  border: 1px solid #ddd;
  padding: 0px 5px;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
@media (any-hover: hover) {
  .article-entry .copy-button {
    opacity: 0;
  }
}
.article-entry .copy-button:hover {
  cursor: pointer;
}
.article-entry pre {
  padding: 20px 0;
}
.article-more-link a {
  display: inline-block;
  line-height: 1em;
  padding: 10px 15px 12px;
  background: #fff;
  color: #999;
  text-decoration: none;
  border: 1px solid #ddd;
}
.article-more-link a:hover {
  text-decoration: underline;
}
.article-footer {
  font-size: 0.85em;
  line-height: 1.6em;
  padding-top: 1.6em;
  margin: 0 15px 15px;
}
.article-footer:before,
.article-footer:after {
  content: "";
  display: table;
}
.article-footer:after {
  clear: both;
}
.article-footer a {
  color: #999;
  text-decoration: none;
}
.article-footer a:hover {
  color: #222;
}
.article-tag-list-item {
  float: left;
  margin-right: 10px;
}
.article-tag-list-link:before {
  content: "#";
}
.article-comment-link {
  float: right;
}
.article-comment-link:before {
  content: "\f075";
  font-family: FontAwesome;
  padding-right: 8px;
}
.article-share-link {
  cursor: pointer;
  float: right;
  margin-left: 20px;
}
.article-share-link:before {
  content: "\f064";
  font-family: FontAwesome;
  padding-right: 6px;
}
#article-nav {
  position: relative;
}
#article-nav:before,
#article-nav:after {
  content: "";
  display: table;
}
#article-nav:after {
  clear: both;
}
@media screen and (min-width: 811px) {
  #article-nav {
    margin: 50px 0;
  }
  #article-nav:before {
    width: 8px;
    height: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -4px;
    margin-left: -4px;
    content: "";
    border-radius: 50%;
    background: #ddd;
    -webkit-box-shadow: 0 1px 2px #fff;
    box-shadow: 0 1px 2px #fff;
  }
}
.article-nav-link-wrap {
  text-decoration: none;
  text-shadow: 0 1px #fff;
  color: #999;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 50px;
  text-align: center;
  display: block;
}
.article-nav-link-wrap:hover {
  color: #222;
}
@media screen and (min-width: 811px) {
  .article-nav-link-wrap {
    width: 50%;
    margin-top: 0;
  }
}
@media screen and (min-width: 811px) {
  #article-nav-newer {
    float: left;
    text-align: right;
    padding-right: 40px;
  }
}
@media screen and (min-width: 811px) {
  #article-nav-older {
    float: right;
    text-align: left;
    padding-left: 40px;
  }
}
.article-nav-caption {
  text-transform: uppercase;
  color: #ddd;
  line-height: 1em;
  font-weight: bold;
}
#article-nav-newer .article-nav-caption {
  margin-right: -2px;
}
.article-nav-title {
  font-size: 0.85em;
  line-height: 1.6em;
  margin-top: 0.5em;
}
.article-share-box {
  position: absolute;
  display: none;
  background: #fff;
  -webkit-box-shadow: 1px 2px 10px rgba(0,0,0,0.2);
  box-shadow: 1px 2px 10px rgba(0,0,0,0.2);
  border-radius: 3px;
  margin-left: -145px;
  overflow: hidden;
  z-index: 1;
}
.article-share-box.on {
  display: block;
}
.article-share-input {
  width: 100%;
  background: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font: 14px font-sans;
  padding: 0 15px;
  color: #222;
  outline: none;
  border: 1px solid #ddd;
  border-radius: 3px 3px 0 0;
  height: 36px;
  line-height: 36px;
}
.article-share-links {
  background: #fff;
}
.article-share-links:before,
.article-share-links:after {
  content: "";
  display: table;
}
.article-share-links:after {
  clear: both;
}
.article-share-twitter,
.article-share-facebook,
.article-share-pinterest,
.article-share-linkedin {
  width: 50px;
  height: 36px;
  display: block;
  float: left;
  position: relative;
  color: #999;
  text-shadow: 0 1px #fff;
}
.article-share-twitter:before,
.article-share-facebook:before,
.article-share-pinterest:before,
.article-share-linkedin:before {
  font-size: 20px;
  font-family: FontAwesome;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -10px;
  margin-left: -10px;
  text-align: center;
}
.article-share-twitter:hover,
.article-share-facebook:hover,
.article-share-pinterest:hover,
.article-share-linkedin:hover {
  color: #fff;
}
.article-share-twitter:before {
  content: "\f099";
}
.article-share-twitter:hover {
  background: #00aced;
  text-shadow: 0 1px #008abe;
}
.article-share-facebook:before {
  content: "\f09a";
}
.article-share-facebook:hover {
  background: #3b5998;
  text-shadow: 0 1px #2f477a;
}
.article-share-pinterest:before {
  content: "\f0d2";
}
.article-share-pinterest:hover {
  background: #cb2027;
  text-shadow: 0 1px #a21a1f;
}
.article-share-linkedin:before {
  content: "\f0e1";
}
.article-share-linkedin:hover {
  background: #0077b5;
  text-shadow: 0 1px #005f91;
}
.article-gallery {
  background: #000;
  position: relative;
}
.article-gallery-photos {
  position: relative;
  overflow: hidden;
}
.article-gallery-img {
  display: none;
  max-width: 100%;
}
.article-gallery-img:first-child {
  display: block;
}
.article-gallery-img.loaded {
  position: absolute;
  display: block;
}
.article-gallery-img img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}
.archives-wrap {
  margin: 50px 0;
}
.archives:before,
.archives:after {
  content: "";
  display: table;
}
.archives:after {
  clear: both;
}
.archive-year-wrap {
  margin-bottom: 1em;
  font-size: 1.5em;
}
.archives {
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
}
.archive-article {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  overflow: hidden;
  break-inside: avoid-column;
}
.archive-article-inner {
  padding: 10px;
}
.archive-article-header {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.archive-article-line {
  height: 6px;
  border-bottom: 1px dashed #ddd;
  margin: 0 10px;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
}
.archive-article-title {
  text-decoration: none;
  font-weight: bold;
  color: #555;
  line-height: 1.6em;
}
.archive-article-title:hover {
  color: #999;
}
.archive-article-footer {
  margin-top: 1em;
}
.archive-article-date {
  color: #999;
  text-decoration: none;
  font-size: 0.85em;
  word-break: keep-all;
  display: block;
}
#page-nav {
  margin: 50px auto;
  background: #fff;
  text-align: center;
  color: #999;
  overflow: hidden;
}
#page-nav:before,
#page-nav:after {
  content: "";
  display: table;
}
#page-nav:after {
  clear: both;
}
#page-nav a,
#page-nav span {
  padding: 10px 20px;
  line-height: 1;
  height: 2ex;
}
#page-nav a {
  color: #999;
  text-decoration: none;
}
#page-nav a:hover {
  color: #000;
}
#page-nav .prev {
  float: left;
}
#page-nav .next {
  float: right;
}
#page-nav .page-number {
  display: inline-block;
}
@media screen and (max-width: 470px) {
  #page-nav .page-number {
    display: none;
  }
}
#page-nav .current {
  color: #222;
  font-weight: bold;
}
#page-nav .space {
  color: #ddd;
}
#footer {
  background: #fff;
  margin-top: auto;
  padding: 30px 0;
  color: #555;
}
#footer a {
  color: #999;
  text-decoration: none;
}
#footer a:hover {
  text-decoration: underline;
}
#footer-info {
  line-height: 1.6em;
  font-size: 0.85em;
  text-align: center;
}
.article-entry pre,
.article-entry .highlight {
  background: #fff;
  margin: 0;
  border-style: solid;
  border-color: #ddd;
  border-width: 1px;
  overflow: auto;
  color: #4d4d4c;
  line-height: 25.6px;
}
.article-entry .gist .gist-file .gist-data .line-numbers {
  color: #666;
  font-size: 0.85em;
}
.article-entry pre,
.article-entry code {
  font-family: "LM-Mono-10", "Courier", "ChineseMono", monospace;
}
.article-entry code {
  background: #fff;
  text-shadow: 0 1px #fff;
  padding: 0 0.3em;
}
.article-entry pre {
  padding: 15px;
}
.article-entry pre code {
  background: none;
  text-shadow: none;
  padding: 0;
}
.article-entry .highlight {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0;
}
.article-entry .highlight pre {
  border: none;
  margin: 0;
  padding: 15px;
}
.article-entry .gist {
  margin: 0 -15px;
  border-style: solid;
  border-color: #ddd;
  border-width: 1px 0;
  background: #fff;
  padding: 15px 15px 15px 0;
}
.article-entry .gist .gist-file {
  border: none;
  font-family: "LM-Mono-10", "Courier", "ChineseMono", monospace;
  margin: 0;
}
.article-entry .gist .gist-file .gist-data {
  background: none;
  border: none;
}
.article-entry .gist .gist-file .gist-data .line-numbers {
  background: none;
  border: none;
  padding: 0 20px 0 0;
}
.article-entry .gist .gist-file .gist-data .line-data {
  padding: 0 !important;
}
.article-entry .gist .gist-file .highlight {
  margin: 0;
  padding: 0;
  border: none;
}
.article-entry .gist .gist-file .gist-meta {
  background: #fff;
  color: #8e908c;
  font: 0.85em font-sans;
  text-shadow: 0 0;
  padding: 0;
  margin-top: 1em;
  margin-left: 15px;
}
.article-entry .gist .gist-file .gist-meta a {
  color: #999;
  font-weight: normal;
}
.article-entry .gist .gist-file .gist-meta a:hover {
  text-decoration: underline;
}
pre .hljs-comment,
pre .hljs-title {
  color: #8e908c;
}
pre .hljs-variable,
pre .hljs-attribute,
pre .hljs-tag,
pre .hljs-regexp,
pre .hljs-ruby .hljs-constant,
pre .hljs-xml .hljs-tag .hljs-title,
pre .hljs-xml .hljs-pi,
pre .hljs-xml .hljs-doctype,
pre .hljs-html .hljs-doctype,
pre .hljs-css .hljs-id,
pre .hljs-css .hljs-class,
pre .hljs-css .hljs-pseudo {
  color: #c82829;
}
pre .hljs-number,
pre .hljs-preprocessor,
pre .hljs-built_in,
pre .hljs-literal,
pre .hljs-params,
pre .hljs-constant {
  color: #f5871f;
}
pre .hljs-class,
pre .hljs-ruby .hljs-class .hljs-title,
pre .hljs-css .hljs-rules .hljs-attribute {
  color: #718c00;
}
pre .hljs-string,
pre .hljs-value,
pre .hljs-inheritance,
pre .hljs-header,
pre .hljs-ruby .hljs-symbol,
pre .hljs-xml .hljs-cdata {
  color: #718c00;
}
pre .hljs-css .hljs-hexcolor {
  color: #3e999f;
}
pre .hljs-function,
pre .hljs-python .hljs-decorator,
pre .hljs-python .hljs-title,
pre .hljs-ruby .hljs-function .hljs-title,
pre .hljs-ruby .hljs-title .hljs-keyword,
pre .hljs-perl .hljs-sub,
pre .hljs-javascript .hljs-title,
pre .hljs-coffeescript .hljs-title {
  color: #4271ae;
}
pre .hljs-keyword,
pre .hljs-javascript .hljs-function {
  color: #8959a8;
}
@media screen and (max-width: 470px) {
  #mobile-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(50% - 1px);
    height: 100%;
    background: #fff;
    border-right: 1px solid #ddd;
  }
}
@media screen and (max-width: 470px) {
  .mobile-nav-link {
    display: block;
    color: #999;
    font-weight: normal;
    font-size: 1.1em;
    text-decoration: none;
    margin: 30px 20px;
    word-break: break-word;
  }
  .mobile-nav-link:hover {
    text-decoration: underline;
  }
}
#about-inner {
  border-bottom: none;
}
.aspect-ratio {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 75%;
}
.aspect-ratio iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.toc-link {
  color: #999;
  text-decoration: none;
}
#article-toc {
  margin: 15px;
  color: #999;
}
.toc-child {
  padding-left: 20px;
}
.toc-number,
.toc-text {
  display: table-cell;
}
.toc-number {
  padding-right: 3px;
}
.bd-box .bd-beg > h-inner {
  margin-right: -0.5em;
}
.bd-box .bd-beg:after {
  display: inline;
  content: " ";
  font: 0.825em Courier;
  visibility: hidden;
  letter-spacing: 0;
  white-space: normal;
}
.bd-box .bd-beg:not(:last-child):after {
  content: "";
  display: none;
}
.bd-box .bd-end > h-inner {
  margin-left: -0.5em;
}
.bd-box .bd-end:before {
  display: inline;
  content: " ";
  font: 0.825em Courier;
  visibility: hidden;
  letter-spacing: 0;
  white-space: normal;
}
.bd-box .bd-end + .bd-end:before {
  content: "";
  display: none;
}
html {
  font-feature-settings: "liga", "locl" 0;
  -webkit-hyphens: auto;
}
